;; Program name to parts
{"Helppo A" ["Alkutervehdys"
             "Siirtymiset"
             "Pohkeenväistö, oik" "Pohkeenväistö, vas"
             "Avotaivutus, oik" "Avotaivutus, vas"
             "Sulkutaivutus, oik" "Sulkutaivutus, vas"
             "Vastalaukka, oik" "Vastalaukka, vas"
             "Keskiravi" "Lisätty ravi" "Koottu ravi"
             "Keskikäynti" "Lisätty käynti" "Koottu käynti"
             "Keskilaukka" "Lisätty laukka" "Koottu laukka"
             "Pysähdys"
             "Peruutus"
             "Laukannosto, oik" "Laukannosto, vas"
             "Voltti, oik" "Voltti, vas"
             "Takaosankäännös, oik" "Takaosankäännös, vas"
             "Käynnin kautta vaihto, oik" "Käynninkautta vaihto, vas"
             "Vapaa käynti"
             "Myötääminen"
             "Lopputervehdys"
             "Askellajit"
             "Lennokkuus"
             "Kuuliaisuus"
             "Istunta"
             "Lastenohjelman kolleg"]

 "Helppo B" ["Alkutervehdys"
             "Voltti oikea" "Voltti vasen"
             "Puolivoltti oikea" "Puolivoltti vasen"
             "Askeleen pidennys"
             "Laukannosto oikea" "Laukannosto vasen"
             "Ympyrä oikea" "Ympyrä vasen"
             "Myötääminen"
             "Vastalaukka,Vasen" "Vastalaukka,Oikea"
             "Keskikäynti" "Vapaa käynti"
             "Harjoitusravi"
             "Harjoituslaukka,oik" "Harjoituslaukka,vas"
             "Kiemuraura" "Kiemuraura"
             "Pysähdys"
             "Peruutus"
             "Keskiravi"
             "Lopputervehdys"
             "Istunta"
             "Tiet"
             "Lennokkuus"
             "Kuuliaisuus"
             "Askellajit"]


 }
